@{
    ViewData["Title"] = "Registration Success";
}

<div class="text-center">
    <h1>Registration Successful</h1>
    <p>Your registration was successful! You can now start using our platform.</p>

    <a asp-action="ForYou" asp-controller="Home" class="btn btn-primary">Continue to ForYou Page</a>
</div>
